<%- include('../partials/header') %>

<h1>Meet Our Mentors</h1>

<table id="all-mentor-list">
    <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Skills</th>
          <th>Reviews</th>
         </tr>
     
    </thead>
     <tbody>
       <% users.forEach(function(u) { %>
        <tr>
          <td><%= u.firstName %></td>
          <td><%= u.lastName %></td>
          <td><%= u.skills %></td>
          <td>TBD</td>
          </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>